@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}

.slide-enter {
  transform: translateX(-100%);
}
.slide-exit {
  transform: translateX(0px);
}
.slide-enter-active {
  transform: translateX(0px);
}
.slide-exit-active {
  transform: translateX(-100%);
}
.slide-enter-active,
.slide-exit-active {
  transition: transform 500ms;
}

/* login and signup page */
@layer components {
  .signBackground {
    @apply h-screen bg-center bg-[url('/src/imgs/Log/background.webp')] bg-cover bg-no-repeat w-full  flex justify-center items-center;
  }

  .signInput {
    @apply bg-[#f3f6f9] rounded-lg focus:outline-[#133a5e]  focus:outline-1  focus:outline-none  w-full p-[8px];
  }

  .submitButton {
    @apply text-white bg-[#133a5e] font-sans text-[14px] font-semibold w-full py-[12px] px-[40px]  rounded-lg cursor-pointer flex justify-center;
  }

  .submitSpinner {
    @apply w-6 h-6 border-2 rounded-full border-stone-600 border-e-blue-400 animate-spin-fast;
  }
}

/* nav */
.logOutNav .logOutNavButton{
  display: none;
}
.logOutNavButton{
  transition: 3s;
}

.logOutNav:hover .logOutNavButton {
  display: block;
}

/* home page */
@layer components {
  .swipermain {
    @apply after:content-['']  after:-z-10 after:w-full after:h-full after:bg-cover after:top-0 after:absolute   w-full h-full flex items-center   bg-no-repeat;
  }
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #ffb921;
}

.swiper-pagination-bullet-active {
  background-color: #ffb921 !important;
}

.homeCuroseldiv:nth-child(1) {
  color: white;
}

@layer components{
  .curoselHome{
    @apply flex flex-col-reverse my-28 container w-3/4
  }
  .slideCuroselHome{
    @apply md:h-[18rem] h-[14rem]  bg-red-400 rounded-lg 
  }
}

